<div class="carousel-about">
    <img src="img/about4.jpg" class="d-block w-100" alt="...">
    <div class="carousel-cap2 d-md-block">
      <h1 class="display-4 font-weight-bold ">Our <span class="text-danger">Products</span</h1>
    </div>
  </div> 
  
<section class="products my-5 text-center" id="products">
    <div class="container">
      <div class="text-center my-5">
        <h1>... Take a LOOK at OUR Products ...</h1>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-3 col-lg-3 col-12">
        <div class="card">
          <div class="card-body">
            <img src="img/bed3.jpg" class="img-fluid rounded-circle border border-primary">
            <h5 class="card-title mt-4">BED SETS</h5>
            <p class="card-text">Transform your bedroom into a luxurious haven with our high-quality Bedroom Bed Sets.</p>
            <a href="#" class="btn btn-primary">Explore more</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 col-12">
        <div class="card">
          <div class="card-body">
            <img src="img/table3.jpg" class="img-fluid rounded-circle border border-primary pd-2">
            <h5 class="card-title mt-4">TABLES</h5>
            <p class="card-text">Elevate your space with our stylish tables. Variety of sizes & designs to fit any space.</p>
            <a href="#" class="btn btn-primary">Explore more</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 col-12">
        <div class="card">
          <div class="card-body">
            <img src="img/sofa.jpg" class="img-fluid rounded-circle border border-primary pd-2">
            <h5 class="card-title mt-4">SOFA SETS</h5>
            <p class="card-text">Shop stylish & comfortable, luxurious sofa sets for your space at our store. </p>
            <a href="#" class="btn btn-primary">Explore more</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 col-12">
        <div class="card">
          <div class="card-body">
            <img src="img/chair.jpg" class="img-fluid rounded-circle border border-primary pd-2">
            <h5 class="card-title mt-4">CHAIRS</h5>
            <p class="card-text"> From rocking chairs to accent chairs & recliners, we have the perfect fits.</p>
            <a href="#" class="btn btn-primary">Explore more</a>
          </div>
        </div>
      </div>
  
  
    </div>
  
      </div>
  
  </section>
  
  <section class="services py-2 pb-5 bg-light" id="services">
    <div class="container">
      <div class="text-center my-5">
        <h1>... Services WE Offers ...</h1>
        </div>
        <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 col-12">
          <div class="card">
            <div class="card-body">
              <i class="fa fa-cc-mastercard"></i>
              <h5 class="card-title">SECURE PAYMENT</h5>
              <p class="card-text">We ensure 100% secure payment.</p>
              <a href="#" class="btn btn-primary">More information!</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-12">
          <div class="card">
            <div class="card-body">
              <i class="fa fa-truck"></i>
              <h5 class="card-title">FREE DELIVERY</h5>
              <p class="card-text">Free Delivery in all cities above order of 50K.</p>
              <a href="#" class="btn btn-primary">Order now!</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-12">
          <div class="card">
            <div class="card-body">
              <i class="fa fa-handshake-o"></i>
              <h5 class="card-title">EXCHANGE POLICY</h5>
              <p class="card-text">Return within 7 days to exchange.</p>
              <a href="#" class="btn btn-primary">More FAQs!</a>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row mt-5">
        <div class="col-sm-12 col-md-4 col-lg-4 col-12">
          <div class="card">
            <div class="card-body">
              <i class="fa fa-commenting"></i>
              <h5 class="card-title">SUPPORT 24/7</h5>
              <p class="card-text">You could contact us 24 hours a day, 7even days a week.</p>
              <a href="#" class="btn btn-primary">Contact now!</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-12">
          <div class="card">
            <div class="card-body">
              <i class="fa fa-calendar-check-o"></i>
              <h5 class="card-title">ORDER TRACKING</h5>
              <p class="card-text">You could track your order using your Order Confirmation ID.</p>
              <a href="#" class="btn btn-primary">Track now!</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-12">
          <div class="card">
            <div class="card-body">
              <i class="fa fa-hourglass-2"></i>
              <h5 class="card-title">ORDER CANCELLATION</h5>
              <p class="card-text">You could cancel your order within 24 hours, before Confirmation Mail.</p>
              <a href="#" class="btn btn-primary">Cancel now!</a>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  
  </section>
  